{% extends "shared/_layout.html" %}

{% block additional_css %}
    <!--<link rel="stylesheet" href="/static/css/plan_entry.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plan_entry.css') }}">
{% endblock %}

{% block main_content %}

    <div class="hero">
        <h1>Enter Your Wilderness Travel Plan</h1>

        Notes: 
        <ul>
            <li>
                This tool is designed to work with a variety of sized screens (which we certainly have) and at a variety of resolutions (which again, we have). If things are too squished, making the web browser narrower may actually fix the problem.
            </li>
            <li>
                Name, email, and location fields can be either selected from dropdown list by clicking the text box, using the auto-complete after starting to enter a value, or typing in a novel value.
            </li>
            <li>
                For fields who's meanings aren't retaly apparent, hovering your curser over such fields will bring up an elaberating tip or hint.
            </li>
        </ul>
        
    </div>

    <div class="container">
        <form action="/travel/entry" method="POST">
            <div class="row entry-section">
                <div class="row col-lg-5">
                    <div class="col-xl-2">Entry:</div>
                    <input type="date" name="entrydate" title="Entry Date" class="col-xl-3 date-input" value="{{ entry_date }}" required/>
                    <input type="text" name="entrylocation" placeholder="Entry Location" class="col-xl-7 text-input" value="{{ entry_point }}" list="destinations" required/>
                    <datalist id="destinations">
                        {% for loc in locations %}
                            <option>{{ loc }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="row col-lg-5">
                    <div class="col-xl-2">Exit:</div>
                    <input type="date" name="exitdate" title="Exit Date" class="col-xl-3 date-input" value="{{ exit_date }}" required/>
                    <input type="text" name="exitlocation" placeholder="Exit Location" class="col-xl-7" value="{{ exit_point }}" list="destinations" required/>
                </div>
                <div class="row col-lg-2" >
                    <div class="col-xl-7" title="Will you be tracked by dispatch?">
                        <label class="radio-inline">
                            <input type="radio" name="tracked" id="tracked1" value="yes" {{ tracked }} required>
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tracked" id="tracked2" value="no" {{ nottracked }} required>
                            No
                        </label>
                    </div>
                    <input type="text" name="plb" placeholder="PLB #" class="col-xl-5" value="{{ plb }}" required/>
                </div>
            </div>
            <div class="entry-section">
                <div class="row">
                    <datalist id="users">
                        {% for u in users %}
                            <option>{{ u.name }}</option>
                        {% endfor %}
                    </datalist>
                    <input type="text" name="name0" placeholder="Trip Leader" class="col-xl-4" value="{{ name0 }}" list="users" required/>
                    <input type="text" name="callsign0" placeholder="Call Sign" class="col-xl-4" value="{{ call_sign0 }}" required/>
                    <input type="text" name="packcolor0" placeholder="Pack Color" class="col-xl-4" value="{{ pack_color0 }}" required/>
                </div>
                <div class="row">
                    <input type="text" name="name1" placeholder="Name" class="col-xl-4" value="{{ name1 }}" list="users"/>
                    <input type="text" name="callsign1" placeholder="Call Sign" class="col-xl-4" value="{{ call_sign1 }}"/>
                    <input type="text" name="packcolor1" placeholder="Pack Color" class="col-xl-4" value="{{ pack_color1 }}"/>
                </div>
                <div class="row">
                    <input type="text" name="name2" placeholder="Name" class="col-xl-4" value="{{ name2 }}" list="users"/>
                    <input type="text" name="callsig2" placeholder="Call Sign" class="col-xl-4" value="{{ call_sign2 }}"/>
                    <input type="text" name="packcolor2" placeholder="Pack Color" class="col-xl-4" value="{{ pack_color2 }}"/>
                </div>
                <div class="row">
                    <input type="text" name="name3" placeholder="Name" class="col-xl-4" value="{{ name3 }}" list="users"/>
                    <input type="text" name="callsign3" placeholder="Call Sign" class="col-xl-4" value="{{ call_sign3 }}"/>
                    <input type="text" name="packcolor3" placeholder="Pack Color" class="col-xl-4" value="{{ pack_color3 }}"/>
                </div>
            </div>
            <div class="entry-section">
                <datalist id="mode">
                    <option>Foot</option>
                    <option>Stock</option>
                    <option>Boat</option>
                </datalist>
                <div class="row">
                    <input type="date" name="date0" title="Date:" class="col-xl-1 date-input" value="{{ date0 }}"/>
                    <input type="text" name="start0" placeholder="Starting Point:" class="col-xl-3" value="{{ start0 }}" list="destinations"/>
                    <input type="text" name="end0" placeholder="Ending Point:" class="col-xl-3" value="{{ end0 }}" list="destinations"/>
                    <input type="text" name="route0" placeholder="Route:" class="col-xl-4" value="{{ route0 }}"/>
                    <input type="text" name="mode0" placeholder="Mode:" class="col-xl-1" value="{{ mode0 }}" list="mode"/>
                </div>
                <div class="row">
                    <input type="date" name="date1" title="Date:" class="col-xl-1 date-input" value="{{ date1 }}"/>
                    <input type="text" name="start1" placeholder="Starting Point:" class="col-xl-3" value="{{ start1 }}" list="destinations"/>
                    <input type="text" name="end1" placeholder="Ending Point:" class="col-xl-3" value="{{ end1 }}" list="destinations"/>
                    <input type="text" name="route1" placeholder="Route:" class="col-xl-4" value="{{ route1 }}"/>
                    <input type="text" name="mode1" placeholder="Mode:" class="col-xl-1" value="{{ mode1 }}" list="mode"/>
                </div>
                <div class="row">
                    <input type="date" name="date2" title="Date:" class="col-xl-1 date-input" value="{{ date1 }}"/>
                    <input type="text" name="start2" placeholder="Starting Point:" class="col-xl-3" value="{{ start1 }}" list="destinations"/>
                    <input type="text" name="end2" placeholder="Ending Point:" class="col-xl-3" value="{{ end1 }}" list="destinations"/>
                    <input type="text" name="route2" placeholder="Route:" class="col-xl-4" value="{{ route1 }}"/>
                    <input type="text" name="mode2" placeholder="Mode:" class="col-xl-1" value="{{ mode1 }}" list="mode"/>
                </div>
            </div>
            <div class="entry-section">
                <datalist id="emails">
                    {% for user in users %}
                        <option>{{ user.email }}</option>
                    {% endfor %}
                </datalist>
                <div class="row">
                    <input type="text" name="contact0" placeholder="Responsible Party 1" class="col-xl-4" value="{{ contact0 }}" list="emails" required/>
                </div>
                <div class="row">
                    <input type="text" name="contact1" placeholder="Responsible Party 2" class="col-xl-4" value="{{ contact1 }}" list="emails" required/>
                </div>

                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="{{ url_for('static', filename='js/plan_entry.js') }}"></script>
{% endblock %}
