{% extends "shared/_layout.html" %}
{% block title %}Plan Search{% endblock %}

{% block additional_css %}
    <!-- <link rel="stylesheet" href="/static/css/plan_entry.css"> -->
    {{ head | safe }}
{% endblock %}

{% block additional_content %}
    <!-- <div class="container"> -->
        <!-- <iframe src="/map/map" frameborder="1" width="700" height="700" align="center"></iframe> -->
    {{ body | safe}}
    <!-- </div> -->
{% endblock %}

{% block additional_footer %}
<!-- this would be css from search.html -->
    {{ scripts | safe}}
{% endblock %}