[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
v = {editable = true,version = "*"}
numpy = "*"

[packages]
folium = "*"
bs4 = "*"
pillow = "*"
fpdf2 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
